doctype html
html
  head
    title= title
    link(rel='shortcut icon', href='./images/favicon.ico')
    link(rel='stylesheet', href='/stylesheets/all.css')
  body(class='okamisan--body')
    block content