extends layout-sp
block content
    #contents
    script(src='//localhost:35729/livereload.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/lib.js')
    script(src='/javascripts/ojisan.js')
